.header__img{
    background-color: var(--primary-color-2);
    width: 100%;
    height: 7.25rem;
    display: flex;
    align-items: center;
    padding-left: 10rem;
}

.header__nav{
    background-color: var(--secondary-color);
    font-family: var(--fonte);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    width: 100%;
    height: 6.25rem;
    gap: 6rem;
}

.header__lista{
    text-decoration: none;
    color: var( --tertiary-color);
    font-size:1.7rem;
    font-weight: bold;
}

.header__img-logo{
    width: 5rem;
    height: 5rem;
}

