
.planos{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    gap: 6rem;
    font-family: var(--fonte);
    color: var(--tertiary-color);
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.planos__titulo{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.65rem;
    font-weight: 700;
}

.planos__titulo span{
    color: var(--secondary-color);
}

.planos__internet{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 9rem;
    
}

.planos__internet img{
    width: 6.625rem;
    height: 6.625rem;
}

.planos__internet--laranja,
.planos__internet--branco{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 18.75rem;
    height: 25rem;  
    border-radius: 3.125rem;
    gap: 1rem;
    padding: 1rem;
}

.planos__internet--branco {
    background-color: var(--tertiary-color);
     color: var(--primary-color);
}

.planos__internet--laranja{
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

.planos__internet--branco button{
    color: var(--tertiary-color);
    background-color: var(--primary-color-2);
}

.planos__internet--laranja button{
    color: var(--secondary-color);
}

.planos__internet--laranja h5,
.planos__internet--branco h5{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    font-size: 1.75rem;
}

.planos__internet--laranja span,
.planos__internet--branco span{
    font-weight: 700;
    font-size: 1.75rem;
}

.planos__internet--laranja h4,
.planos__internet--branco h4{
    display: flex;
    font-weight: 555;
    font-size: 2.5rem;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}

.planos__internet--laranja h4 span,
.planos__internet--branco h4 span{
    font-weight: 300;
    font-size: 2.5rem;
}

.planos__bnt{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color:var(--tertiary-color);
    width: 10.25rem;
    height: 3.25rem;
    border-radius: 62.438rem;
    font-size: 1rem;
    font-weight: 550;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-decoration: none;
    border: none;          
}


.planos__bnt:hover{
    filter: brightness(0.95);
    cursor: pointer;
}


