body {
  background-color: var(--primary-color);
  font-family: var(--fonte);
}

/* ================================ */
/*          Primeiro bloco          */
/* ================================ */

.section_one {
  display: flex;
  justify-content: center;
  padding: 12rem 1.5rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 105rem;
  height: 27rem;
  background-color: var(--secondary-color);
  border-radius: 2.5rem;
  overflow: hidden;
  padding: 3rem 0 3rem 3rem;
  box-sizing: border-box;
}

.content__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 69.625rem;
  height: 26rem;
  height: auto;
  pointer-events: none;
  margin-left: 1rem;
}

.content__titulo {
  position: relative;
  z-index: 2; /* texto sobre as linhas */
  color: var(--tertiary-color);
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.4;
  padding-left: 7rem;
}

.content__titulo--cor {
  color: var(--primary-color-2);
  font-size: 4.3rem;
}

.content__imagem {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding-left: 8rem;
  box-sizing: border-box;
}

.content__foto {
  width: 35.875rem;
  height: 27.75rem;
  display: block;
  z-index: 3;
}

/* ================================ */
/*     Parte do texto e imagens     */
/* ================================ */

.section_three {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--tertiary-color);
  font-family: var(--fonte);
}

.content2__base {
  display: flex;
  flex: 2;
}

.content2__titulo {
  font-size: 2.5rem;
}

.content2__titulo span {
  color: var(--secondary-color);
  border-bottom: 0.25rem solid var(--secondary-color); /* cor e espessura da linha */
  padding-bottom: 0.125rem; /* ajusta distância da linha pro texto */
}

.content2__texto {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
  margin-top: 6rem;
}

.content2__texto p {
  width: 57.875rem;
  text-align: justify; /* justificar o texto */
  line-height: 1.4; /* espaço entre linhas */
  font-size: 2.5rem;
}

/* ================================ */
/*             Carrosel             */
/* ================================ */

.section_four {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem;
}

.carrossel {
  position: relative;
  width: 80.125rem;
  height: 43.75rem;
  overflow: hidden;
  border-radius: 10px;
  background: #000;
}

.slides {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* efeito suave */
  object-fit: cover;
}

.slide.ativo {
  opacity: 1;
}

/* ================================ */
/*              Sociais             */
/* ================================ */

.section_five {
  padding: 4rem;
  padding-top: 2rem;
}

/* ================================ */
/*            Propaganda            */
/* ================================ */

.section_six {
  display: flex;
  align-items: center;
  padding: 10rem;
  font-family: var(--fonte);
  flex-direction: column;
  gap: 10rem;
}

.content3__textoprincipal{
    font-size: 3rem;
    font-weight: 700;
    color: var(--tertiary-color);
}

.content3__textoprincipal span{
    font-size: 3rem;
    font-weight: 700;
    color: var(--secondary-color);
}


.content3 {
  display: flex;
  gap: 8rem;
}

.content3__img {
  width: 9rem;
  height: 9rem;
  margin-top: 3rem;
}

.content3__base {
  width: 20rem;
  height: 20rem;
  background-color: var(--tertiary-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10%;
  gap: 2rem;
}

.content3__texto {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.content3__titulo {
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--fonte);
  color: var(--tertiary-color);
}

.content3__paragrafo {
  width: 58rem;
  text-align: justify; /* justificar o texto */
  line-height: 1.4;
  font-size: 2.5rem;
  font-weight: 400;
  font-family: var(--fonte);
  color: var(--tertiary-color);
}

.content3__bnt{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color:var(--primary-color-2);
    width: 12rem;
    height: 4rem;
    border-radius: 62.438rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    color: var(--tertiary-color);
}

.content3__base--laranja{
  width: 20rem;
  height: 20rem;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  border-radius: 10%;
  gap: 2rem;
}

.content3__bnt--laranja{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color:var(--tertiary-color);
    width: 12rem;
    height: 4rem;
    border-radius: 62.438rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    color: var(--secondary-color);
}

/* ================================ */
/*    Vagas de Emprego e Estagio    */
/* ================================ */

.section_seven {
  display: flex;
  align-items: center;
  padding: 10rem;
  font-family: var(--fonte);
  flex-direction: column;
  gap: 10rem;
}

.content4__contatos {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content4__bnt {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
  border-radius: 999px;
  background: #fff;
  text-decoration: none;
  color: #f7931e;
  font-weight: 600;
}