* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    h1 {
        text-transform: uppercase;
        text-align: center;
    }
}

.main {
    display: flex;
    justify-content: center;;
}

.header-1 {
    background-color: blue;
    text-align: end;
    button {
        background-color: blue;
        color: white
    }
}

.header-2 {
    background-color: orange;
    text-align: center;
    button {
        background-color: orange;
        color: white
    }
}

.header-3 img {
    max-width: 100%;
    height: auto;
}

.card-1 {
    margin: 50px;
    background-color: orange;
    width: 300px;
    height: 100%;
    border-radius: 10px;
    padding: 60px;
}